<div id="pergaminhos">					
	<h3>Pergaminhos</h3>
	
	<ul>
		<% for(var i = 0; i < actions.length; i++) { %>
			<%
				var txt_actions = '';
				switch(parseInt(actions[i].action)){
					case 1: txt_actions = 'aldeão(ões) coletando recursos '; break;
					case 2: txt_actions = 'enforcamento(s) programado '; break;
					case 3: txt_actions = 'aldeão(ões) em treinamento de história '; break;
					case 4: txt_actions = 'aldeão(ões) em treinamento de magia'; break;
				}
				var date = new Date();
				var nowadays = date.getTime();
				var seconds_left = Math.round((actions[i].action_end_in - nowadays) / 1000);
			%>
			<li>
				<%= actions[i].quantity %> <%= txt_actions %> - <small>restam <span class="time_left"><%= seconds_left %></span> segundos - <a href="/revoke_action?action_id=<%=actions[i]._id%>">revogar ordem</a></small>
			</li>
		<% } %>
	</ul>
</div>